* {
    box-sizing: border-box;
    margin: 0;
}
body {
    margin: 0;
    min-height: 100vh;
    background-color: rgba(198, 188, 188, 0.742);

}
.wrapper {
    margin:  auto;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: center;
    min-width: 680px;
}

h2 {
    text-align: center;
   
    margin-bottom: 15px;
}

.input, .div, .textarea, .image, .paragraf, .circuit{
    border: 2px red dashed;
    padding: 15px;
    margin: 10px;
}


.form-name {
    display: flex;
    justify-content: space-between;

}
.form-name input {
    margin-left: 5px;
    padding: 10px;
}


.createdDiv, .generated, .paragraf-item, .circuit-item{
    padding: 10px;
    border: 2px solid blue;
    margin-bottom: 5px;
}

.form-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.generated{
    margin-top: 15px;
}
.image{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.img-buton{
    background-color: rgba(43, 192, 110, 0.788);
    border: 2px solid #000;
border-radius: 20px;
padding: 5px;
color: red;
transition: all 0.3s ease;
}
.img-buton:hover {
    scale: 1.2;
    background-color: rgb(216, 19, 19);
    color: rgba(43, 192, 110, 0.788);
}
.image img {
    max-width: 100%;
}

.paragraf-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.paragraf-item p {
    width: 150px;
    height: 150px;
    background-color: #e0cfcf;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.btn-circuit{
    border-radius: 50%;
    border: 2px dashed #000;
    background-color: #6eca5c;
    color: rgb(230, 53, 53);
    padding: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
}
.circuit-item {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}
.circuit-item div{
    /* width: 150px;
    height: 150px; */
    border-radius: 50%;
    border: 2px solid red;
    margin: 5px;
}